@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    height: 100% !important;
    background-color: hsla(0, 9%, 72%, 0.471) !important;
}

.container-fluid {
    margin-top: 101px;
    color: #000 !important;
}

.card {
    background-color: #F8F9FB !important;
}

p {
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
    display: fex;
    font-weight: bold !important;
    /* Garante que o texto fique em negrito */
}

h3 {
    font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social {
    font-size: 21px !important;
}


.color-text {
    color: #757575 !important;
    font-weight: bold !important;
    /* Garante que o texto fique em negrito */
}


button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    background-color: #2CA6FB !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

footer {
    color: #caced1 !important;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Careers {
    cursor: pointer;
    color: #1E88E5;
}

.row-1 {
    background-color: #1E242A !important;
}

.row-2 {

    background-color: #28323C !important;
}

.underline {
    text-decoration: underline;
}

/* Estilos gerais para textarea */
textarea.form-control {
    width: 100%;
    /* Faz o textarea preencher o contêiner pai */
    box-sizing: border-box;
    /* Inclui padding e bordas na largura total */
    padding: 8px;
    /* Ajusta o padding interno */
    margin: 0;
    /* Remove margens externas se necessário */
    overflow: auto;
    /* Adiciona barras de rolagem se o conteúdo ultrapassar */
}

/* Estilos para o contêiner do textarea */
.mb-3 {
    margin-bottom: 1rem;
    /* Ajuste a margem inferior conforme necessário */
    width: 100%;
    /* Garante que o contêiner ocupa a largura total disponível */
}

.toast-container {
    position: fixed;
    top: 1rem;
    /* Ajuste conforme necessário */
    right: 1rem;
    /* Ajuste conforme necessário */
    z-index: 1050;
    /* Garante que o toast esteja sobre outros elementos */
    color: #F8F9FB;
}

.toast-header i {
    font-size: 20px;
    /* Ajuste conforme necessário */
    color: green;
    /* Cor do ícone */
}

.search {

    top: 6px;
    left: 10px;
}

.form-control {

    border: none;
    padding-left: 32px;
}

.form-control:focus {

    border: none;
    box-shadow: none;
}

.green {

    color: green;
}

/* Ajusta a altura do botão e do input para garantir que tenham a mesma altura */
.btn,
.form-control {
    height: 38px;
    /* Ajuste conforme necessário */
    line-height: 38px;
    /* Alinha verticalmente o texto */
}

/* Alinha o texto dentro do botão */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    /* Adiciona um pouco de padding horizontal para o botão */
}